{% extends 'tool_base.html' %}

{% set active_page = 'fontpkg' %}
{% block tool_name %}Font packages{% endblock %}

{% block tool_form %}
<div id="editing-interface" class="column large-4">
  <form id="addrepo" action="/fontpkg/add" method="POST" enctype="multipart/form-data">
    <div class="fileupload-buttonbar">
      <div class="row">
        <p class="fileinput-button">
        <label for="repo">Repository URL</label>
        <input id="repo" class="btn" type="text" name="repo" placeholder="Repository URL">
        </p>
      </div>
      <div class="row">
        <p class="column"><button type="submit" class="btn primary start">Add repository!</button></p>
      </div>
    </div>
  </form>
</div>
{% endblock %}

{% block right_column %}
<div id="right-preview" class="column large-8">
  <h3>Available packages</h3>
  <div id="font-packages">
    <ul>
      {% for p in packages %}
      <li><a href="/fontpkg/{{ p }}">{{ p }}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
