<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <title>Fibweb: {% block tool_name %}{% endblock %}</title>
    
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
            
    <link rel="stylesheet" href="/static/styles/app.css" />
      
  </head>
  <body>
    <nav id="navigation" class="row">
      <ul>
        <li id="logo">FOUNDRY-IN-A-BOX</li>
        <li><a href="/transpacing">Transpacing</a></li>
        <li><a href="/outline">Outline</a></li>
        <!-- <li><a href="/inline">Inline</a></li> -->
        <li><a href="/shadow">Shadow</a></li>
        <li><a href="/fontpkg">Fontpackages</a></li>
      </ul>
    </nav>
    
    <div id="main" class="row">
      <div class="column large-8">
        <h3>About</h3>
        <hr>
        
        <p><strong>Foundry-in-a-box</strong> is the name for our ongoing project to propose a workflow to facilitate the publishing of libre typefaces.</p>
        
        
        <p>We love typefaces, but found a lot of friction in the process of publishing them. For several
        months now, we've been developing a set of freely licensed tools to facilitate
        the process, using our libre type workshops and fonts we created as the base
        for their development. We know for a fact that other free-culture-aware
        designers face the same issues when making their foundry sites (check the notes from LGM 2013
        <a href="http://titanpad.com/lgm13-typography">birds-of-a-feather</a> about this).
        While some are able to develop their own custom frameworks, others, with less technical
        knowledge are left with few options.</p>
        <p>Additionally, we see a need to decentralize open font distribution, currently
        based on very few nodes (mostly Google Web Fonts and other non-free portals
        like Font Squirrel), which can only be possible if there are tools that enable
        people to create their own type foundries and collections.</p>
        
      </div>
    </div>
    
    <div id="footer" class="row">
      <ul>
        <li><a href="https://gitlab.com/foundry-in-a-box/fibweb" target="_blank">Source Code</a></li>
        <li>Brewed by <a href="http://manufacturaindependente.org"><img src="/static/images/manufacturaind.png" alt="Manufactura Independente"> Manufactura Independente</a></li>
        <li>Supported and hosted by <img src="/static/images/genesis_servus_logo.png" alt="Servus.At"> <a href="http://core.servus.at" target="_blank">Servus.at</a></li>
      </ul>
    </div>

  </body> 
</html>
