{% extends 'tool_base.html' %}

{% block tool_name %}Inline{% endblock %}

{% block tool_form %}
<div id="editing-interface" class="column large-4">
  <form id="fileupload" action="/inline" method="POST" enctype="multipart/form-data">
    <div class="row">
      {{ helptext }}
      <p>
        <label for="glyphfont">Font file</label>
        <input id="glyphfont" class="" type="file" name="font[]" multiple>
      </p>
      <p>
        <label for="inlinewidth">Inline width</label>
        <input id="inlinewidth" class="" type="text" name="width" placeholder="Width number value">
      </p>
      <p>
        <label for="gap">Gap</label>
        <input id="gap" class="" type="text" name="gap" placeholder="Gap number value">
      </p>
      <p><button type="submit" class="button primary start">Generate!</button></p>
    </div>
  </form>
</div>
{% endblock %}
