{% extends 'tool_base.html' %}

{% set active_page = 'outline' %}
{% block tool_name %}Outline{% endblock %}

{% block tool_form %}
<div id="editing-interface" class="column large-4">
  <form id="fileupload" action="/outline" method="POST" enctype="multipart/form-data">
    <div class="row">
      {{ helptext }}
      <p>
        <label for="glyphfont">Font file</label>
        <input id="glyphfont" class="" type="file" name="font[]" multiple>
      </p>
      <p>
        <label for="outlinewidth">Outline width:</label>
        <input id="outlinewidth" class="" type="text" name="width" placeholder="E.g.: 20">
      </p>
      <p><button type="submit" class="button primary start">Generate!</button></p>
    </div>
  </form>
</div>
{% endblock %}
