{% extends 'tool_base.html' %}

{% set active_page = 'shadow' %}
{% block tool_name %}Shadow{% endblock %}

{% block tool_form %}
<div id="editing-interface" class="column large-4">
  <form id="fileupload" action="/shadow" method="POST" enctype="multipart/form-data">
    <div class="row">
      {{ helptext }}
      <p>
        <label for="glyphfont">Font file</label>
        <input id="glyphfont" class="" type="file" name="font[]" multiple>
      </p>
      <p>
        <label for="angle">Shadow angle</label>
        <input id="angle" class="" type="text" name="angle" placeholder="Angle in degrees">
      </p>
      <p>
        <label for="width">Outline width</label>
        <input id="width" class="" type="text" name="width" placeholder="Outline width">
      </p>
      <p>
        <label for="shadowwidth">Shadow width</label>
        <input id="shadowwidth" class="" type="text" name="shadowwidth" placeholder="Shadow width">
      </p>
      <p><button type="submit" class="button primary start">Generate!</button></p>
    </div>
  </form>
</div>
{% endblock %}
