<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <title>Fibweb: {% block tool_name %}{% endblock %}</title>
    
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
            
    <link rel="stylesheet" href="/static/styles/app.css" />
      
  </head>
  <body>
    <nav id="navigation" class="row">
      <ul>
        <li id="logo"><a href="/">FOUNDRY-IN-A-BOX</a></li>
        <li><a href="/transpacing"{% if active_page == 'transpacing' %} class="active"{% endif %}>Transpacing</a></li>
        <li><a href="/outline"{% if active_page == 'outline' %} class="active"{% endif %}>Outline</a></li>
        <!-- <li><a href="/inline"{% if active_page == 'inline' %} class="active"{% endif %}>Inline</a></li> -->
        <li><a href="/shadow"{% if active_page == 'shadow' %} class="active"{% endif %}>Shadow</a></li>
        <li><a href="/fontpkg"{% if active_page == 'fontpkg' %} class="active"{% endif %}>Fontpackages</a></li>
      </ul>
    </nav>
    
    <div id="main" class="row">
      {% block tool_form %}{% endblock %}
         
      {% block right_column %}
      <div id="right-preview" class="column large-8">
        <h3>Preview</h3>
        <div id="font-preview"></div>
      </div>
      {% endblock %}
    </div>
    
    <div id="footer" class="row">
      <ul>
        <li><a href="https://gitlab.com/foundry-in-a-box/fibweb" target="_blank">Source Code</a></li>
        <li>Brewed by <a href="http://manufacturaindependente.org"><img src="/static/images/manufacturaind.png" alt="Manufactura Independente"> Manufactura Independente</a></li>
        <li>Supported and hosted by <img src="/static/images/genesis_servus_logo.png" alt="Servus.At"> <a href="http://core.servus.at" target="_blank">Servus.at</a></li>
      </ul>
    </div>

    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/jqueryui/ui/widget.js"></script>
    <script src="/bower_components/jquery.iframe-transport/jquery.iframe-transport.js"></script>
    <script src="/bower_components/jquery-file-upload/js/jquery.fileupload.js"></script>
    <script src="/bower_components/jquery-form/jquery.form.js"></script>
    <script>
    $(document).ready(function() { 
      $('button.primary').click(function (){ 
        $(this).prop("disabled", true).addClass("disabled");
        $(this).text("Working...");
        $(this).parents('form').submit();
      });
      $('#fileupload').ajaxForm({ 
        dataType: 'json',
        success: function (data) {
          console.log(data);
          $para = $('<p>').prependTo($('#font-preview'));
          $imglink = $('<a>').attr('href', data.result.file_url).prependTo($para);
          $('<img>').attr('src', data.result.img_url).appendTo($imglink);
          $('button.primary').prop("disabled", false).removeClass("disabled").text('Generate!');
        }
      }); 
      $('#addrepo').ajaxForm({ 
        dataType: 'json',
        success: function (data) {
          console.log(data);
          $para = $('<li>').appendTo($('#font-packages ul'));
          $imglink = $('<a>').attr('href', data.result.pkg_url).prependTo($para);
          $imglink.text(data.result.pkg_name);
          $('button.primary').prop("disabled", false).text('Add repository!');
        }
      }); 
    });
    </script>
  </body> 
</html>
