{% extends 'tool_base.html' %}

{% set active_page = 'transpacing' %}
{% block tool_name %}Transpacing{% endblock %}

{% block tool_form %}
<div id="editing-interface" class="column large-4">
  <form id="fileupload" action="/transpacing" method="POST" enctype="multipart/form-data">
    <div class="row">
      {{ helptext }}
      <p>
        <label for="glyphfont">Font for glyphs</label>
        <input id="glyphfont" class="" type="file" name="glyphfont[]" multiple>
      </p>
      <!-- Extra file input start /-->
      <p>
        <label for="spacingfont">Font for spacings</label>
        <input id="spacingfont" class="" type="file" name="spacingfont[]" multiple>
      </p>
      <!--/ Extra file input stop -->
      <p><button type="submit" class="button primary start">Generate!</button></p>
      <!-- <button type="reset" class="button info cancel">Cancel upload</button> -->
      <!-- <button type="button" class="button danger delete">Delete selected</button> -->
    </div>
  </form>
</div>
{% endblock %}

