/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Typography
*/

@font-face {
  font-family: 'Aileron';
  src: local('Aileron'), url('../fonts/Aileron-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Aileron';
  src: local('Aileron Bold'), url('../fonts/Aileron-Bold.ttf') format('truetype');
  font-weight: bold;
}

*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    background: transparent url('../images/halftone.png') repeat 0 0;
}

body {
    font-family: 'Aileron', 'DejaVu Sans', Arial, sans-serif;
    font-size: 0.975rem;
    line-height: 1.4;
    height: 100%;
    color: #2e341a;
}

a { color: #c10044; }

.row {
    position: relative;
    display: block;
    margin: 0 auto;
    max-width: 75rem;
    width: 100%;
}

.row:before, .row:after {
    content: " ";
    display: table;
}

.row:after { clear: both; }

.column {
    padding: 1.25rem 0.9375rem;
    position: relative;
    float: left;
}
  .large-1  { width: 8.33333%;  }
  .large-2  { width: 16.66667%; }
  .large-3  { width: 25%;       }
  .large-4  { width: 33.33333%; }
  .large-5  { width: 41.66667%; }
  .large-6  { width: 50%;       }
  .large-7  { width: 58.33333%; }
  .large-8  { width: 66.66667%; }
  .large-9  { width: 75%;       }
  .large-10 { width: 83.33333%; }
  .large-11 { width: 91.66667%; }
  .large-12 { width: 100%;      }

#navigation ul {
    list-style-type: none;
    margin: 1rem 0 1.25rem 0;
    padding: 0;
}

#navigation li {
    display:  inline-block;
    margin: 0 0 0 1rem;
    font-weight: bold;
}

#navigation li:first-child { margin-left: 0; }

#navigation li a {
    display: inline-block;
    text-decoration: none;
}

#navigation li a.active { border-bottom: 2px solid #c10044; }

#main {
    height: 100%;
    background: #fff;
}

#editing-interface {
    display: block;
    height: 100%;
}

#right-preview {
    display: block;
    height: 100%;
    border-left: 1px solid #ddd;
}

#font-preview p a img {
    display: block;
    width: 100%;
    height: auto;
}

#footer ul > * {   vertical-align: middle; }

#footer ul {
    list-style-type: none;
    margin: 1rem 0 2.25rem 0;
    padding: 0;
}

#footer li {
    display: inline-block;
    vertical-align: middle; 
    margin: 0 0 0 1.65rem;
    font-size: 0.875rem;
}

#footer li:first-child { margin-left: 0; }

#footer li a {
    text-decoration: none;
}

#footer li img {
    margin-left: 0.25rem;
}

label,
input {
    display: block;
    padding: 0.25rem 0;
}

label {
    font-size: 0.875rem;
    text-transform: uppercase;
    text-spacig: 1px;
}

input[type="text"], input[type="number"], input[type="search"], input[type="url"], textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    background-color: #fff;
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.75);
    display: block;
    font-family: inherit;
    font-size: 0.875rem;
    height: 2.3125rem;
    margin: 0 0 1rem 0;
    padding: 0.5rem;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

input[type="text"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="url"]:focus, textarea:focus {
    background: #fafafa;
    border-color: #999999;
    outline: none; }

button, .button {
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    border-style: solid;
    border-width: 0;
    cursor: pointer;
    font-family: 'Aileron', 'DejaVu Sans', Arial, sans-serif;
    font-weight: bold;
    line-height: normal;
    margin: 0 0 1.25rem;
    position: relative;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 0.65rem 2rem 0.6625rem 2rem;
    font-size: 0.875rem;
    background-color: #2e341a;
    border-color: #292d36;
    color: #fff;
    transition: background-color 300ms ease-out;
}
  
button:hover, button:focus,
.button:hover, .button:focus {
    background-color: #292d36;
    color: #fff;
}

button.primary,
.button.primary { width: 100%; }

button:disabled, button.disabled,
button.disabled:hover,
button.disabled:focus {
    cursor: normal;
    background-color: #ccc;
    border-color: #292d36;
    color: #fff;
    transition: background-color 300ms ease-out;
}

input[type="file"] {
    margin: 0 0 1rem 0;
    width: 100%;
}

/*
form .btn,
form input[type="file"] {
    font-family: 'Aileron', 'DejaVu Sans', Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}*/

p {
    margin-bottom: 0.75rem;
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

